<div class = "intro-header" id="header_signup">
<br/><br/><br/><br/>

<div class="container">
<h2>Sign up</h2>
 
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<form role="form">
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :first_name , :id => 'label_signup'%><br />
    <%= f.text_field :first_name, autofocus: true , :class => 'form-control', :placeholder => "First name" %>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <%= f.label :last_name , :id => 'label_signup'%><br />
    <%= f.text_field :last_name, autofocus: true , :class => 'form-control', :placeholder => "Last name"%>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :date_of_birth , :id => 'label_signup'%><br />
    <%= f.date_field :date_of_birth, autofocus: true , :class => 'form-control'%>
  </div>
</div>

<div class="col-md-6">
 
  <div class="form-group">
    <%= f.label :email, :id => 'label_signup' %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' , :placeholder => "Email Address"%>
  </div>
</div>
</div>

<div class="row">
 <div class="col-md-6">
  <div class="form-group">
    <%= f.label :password , :id => 'label_signup'%>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control', :placeholder => "Password" %>
  </div>
  </div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :password_confirmation , :id => 'label_signup'%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => "Confirm Password" %>
  </div>
</div>
</div>

<div class="row">
<div class="col-md-6"> 
  <div class="form-group">
  <%= f.simple_fields_for :companies do |company| %>
    <%= company.label "Company Name" , :id => 'label_signup'%><br />
    <%= company.text_field :name, autofocus: true, :class => 'form-control' %><br />
    <%= company.label :domain, :id => 'label_signup' %><br />
    <%= company.text_field :domain, autofocus: true, :class => 'form-control' %><br />
  <% end %>
  </div>
</div>
</div>


<div class="row">
  <div class="col-md-6">
  <div class="actions">
    <%= f.submit "Sign up" , :class => 'btn btn-default btn-lg', :id => 'signup'%>
  </div>
  </div>
</div>
<% end %>
<font style="color: white">
 Already have an account?</font>
<%= render "devise/shared/links" %>
</form>
</div>

</div>