<div class="container">
<br/><br/><br/><br/>
<div class="dashboard" id="dashboard">
    <div class="dashboard-header" id="dashboard-header">Listing Users</div>





      <table class="table">
      <thead>
      <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.date_of_birth%></td>

  <!-- Button trigger modal -->
 <td> <button class="btn" data-toggle="modal" data-target="#user-<%= user.id %>">
     <span class="glyphicon glyphicon-list"></span> 
     <!--<%= image_tag("show.png", :alt => "rss feed", height: '32', width: '32') %>-->
  </button>

  <!-- Modal -->
  <div class="modal fade" id="user-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="user-<%= user.id %>-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="user-<%= user.id %>-label">User Information</h4>
        </div>
        <div class="modal-body">
<%= render 'show', user: user %>
<%= link_to 'Show Time Entries', time_entries_path %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </td>


  
        </td>
        <td><%= link_to edit_user_path(user) , :class => 'btn', :id => 'btn_edit_home' do %>
<span class="glyphicon glyphicon-pencil"></span> <% end %>
        </td>
        <td><%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn', :id => 'btn_destroy_home' do  %>
        <span class="glyphicon glyphicon-trash"></span>
  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>