<style>
    .user_info {
      margin-top: 90px;
      margin-right: auto;
      width: 30%;
        margin-left: auto;
    }

   form{
      display: inline-block;
      margin-top: 20px;
        margin-left: 10%;
    }

    .panel-heading {
        text-align: left;
        background-color: #917E94!important;
        border-color: #917E94 !important;
        color:#fff !important;
    }

    .panel-default{

      margin-top: 10%;
    }

    .cancel_btn{

      
    }

</style>

<div id="main-container" class="user_info">
        <div class="panel panel-default"> 
            <div class="dashboard-header" id="dashboard-header">
             Kaishahero
            </div>
<%= form_for(@user_setting) do |f| %>
  <% if @user_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_setting.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

      <ul>
      <% @user_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <form role="form">
  <div class="form-group">

     <div class="field form-group info"> 
     <label>User: </label>
     <%= f.collection_select :user_id, User.all, :id, :first_name %>
     </div>

          <div class="field form-group info"> 
     <label>Name: </label>
     <%= f.select :name, options_for_select({ "Monday" => "Monday", "Tuesday" => "Tuesday", "Wednesday" => "Wendesday", "Thursday" => "Thursday", "Friday" => "Friday", "Saturday" => "Saturday"}, "Monday")%>

     </div>
          <div class="field form-group info"> 
     <label>Setting: </label>
     <%= f.select :setting, options_for_select({ "Allowed" => "Allowed", "Not Allowed" => "Not Allowed"}, "Allowed")  %>
     </div>
          <div class="field form-group info"> 
     <label>Required Hours: </label>
     <%= f.text_field :required_hours %>
     </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="cancel_btn">
<%= link_to 'Cancel', users_path, class: 'btn btn-danger' %>
  </div>
  
<% end %>
</form>
</div>
</div>
</div>
